h1 {
    color: peru;
    font-family: 'Times New Roman', Times, serif;
}

p,
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    color: gray;
}

.pic {
    height: auto;
    width: 500px;
}
